<!DOCTYPE html>
<html lang="en">
  {% load static %}

  {% include "Home/Extra/Header.html" %}
        <!-- page-title -->
        <div class="prt-titlebar-wrapper prt-bg">
            <div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
            <div class="prt-titlebar-wrapper-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="prt-page-title-row-heading">
                                <div class="page-title-heading">
                                    <h2 class="title">Lottery</h2>
                                </div>
                                <div class="breadcrumb-wrapper">
                                    <i class="flaticon-home"></i>
                                    <span>
                                        <a title="Homepage" href="{% url "home" %}">Home</a>
                                    </span>
                                    <div class="prt-sep"> - </div>
                                    <span>Lottery Raffle</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title end -->

        <!--site-main start-->
        <div class="site-main">

        	<!-- sidebar-top-section -->
            <div class="sidebar-link-section bg-layer-equal-height clearfix">

            </div>
            <!-- sidebar-top-section-end -->

            <!-- service-type-first-section -->
            <div class="service-type04-first-section bg-layer-equal-height clearfix">
            	<div class="container">
            		<div class="row">
            			<div class="col-lg-12">
            				<div class="service-title">
                                <div class="service-header">
                                    <h3>Sikobs offers a diverse range of destinations.</h3>
                                </div>
                                <div class="service-desc">
                                    <p>
                                        Sikobs is a pioneering company dedicated to facilitating global mobility and fostering cultural diversity. At the heart of our mission is the Sikobs Visa Lottery Program, a flagship initiative designed to provide individuals with the opportunity to pursue their dreams of living and working in a new country.
                                    </p>
                                </div>
                            </div>
            			</div>
            		</div>
            		<div class="row g-0 mt-40 res-991-mt-30">
            			<div class="col-lg-6">
            				<div class="prt-bg prt-col-bgimage-yes col-bg-img-thirty z-index-2">
                                <div class="prt-col-wrapper-bg-layer prt-bg-layer"></div>
                                <div class="layer-content"></div>
                            </div>
                            <img class="img-fluid prt-equal-height-image" src="{%get_static_prefix%}Home/images/bg-image/col-bgimage-30.png" alt="bg-image-30">
            			</div>
            			<div class="col-lg-6 align-self-center">
            				<div class="pl-30 res-991-mt-15 res-991-pl-0">
			            		<div class="row">
			                        <div class="col-md-6">
			                            <div class="featured-icon-box style16">
			                                <div class="featured-icon">
			                                    <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor">
			                                        <i class="flaticon-office-building"></i>
			                                    </div>
			                                </div>
			                                <div class="featured-title">
			                                    <h3>Best marketing analytics</h3>
			                                </div>
			                                <div class="prt-horizontal_sep mt-20 mb-20"></div>
			                                <div class="featured-content">
			                                	<div class="featured-desc">
			                                		<p>Highlight the new, job-relevant skills you’ve gained and supplement existing</p>
			                                	</div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="featured-icon-box style16">
			                                <div class="featured-icon">
			                                    <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor">
			                                        <i class="flaticon-passport-3"></i>
			                                    </div>
			                                </div>
			                                <div class="featured-title">
			                                    <h3>Proper information</h3>
			                                </div>
			                                <div class="prt-horizontal_sep mt-20 mb-20"></div>
			                                <div class="featured-content">
			                                	<div class="featured-desc">
			                                		<p>qualifications with industry-specific digital certificates</p>
			                                	</div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="featured-icon-box style16">
			                                <div class="featured-icon">
			                                    <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor">
			                                        <i class="flaticon-passport-1"></i>
			                                    </div>
			                                </div>
			                                <div class="featured-title">
			                                    <h3>Tutor led online classes</h3>
			                                </div>
			                                <div class="prt-horizontal_sep mt-20 mb-20"></div>
			                                <div class="featured-content">
			                                	<div class="featured-desc">
			                                		<p>plus one for every course within your expert track course.</p>
			                                	</div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="featured-icon-box style16">
			                                <div class="featured-icon">
			                                    <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor">
			                                        <i class="flaticon-visa-1"></i>
			                                    </div>
			                                </div>
			                                <div class="featured-title">
			                                    <h3>Advise & consultancy</h3>
			                                </div>
			                                <div class="prt-horizontal_sep mt-20 mb-20"></div>
			                                <div class="featured-content">
			                                	<div class="featured-desc">
			                                		<p>certificates plus one for every course within your expert track course.</p>
			                                	</div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		                </div>
	                </div>
            	</div>
            </div>
            <!-- service-type-first-section-end -->

<style>
    #countdown-container {
    display: inline-block; /*displays divs on a line*/
    width: 300px; /*gives the div element a width of 300px*/
    margin: 20px 0; /*gives 20px space at the top and bottom of the div element*/
    border-radius: 5px; /*curves the edges of the div element by 5px;*/
    background: #1d81af; /*gives the div element a background color*/
}
#countdown {
    font-family: "Fira Sans", sans-serif; /*changes the text font in the divelement */
    display: inline-block; /*displays divs on a line*/
    padding: 30px; /*creates 30px space between the content of the div element and the walls of the div element*/
    background: #1d81af;
    color: white; /*changes the text color in the div element*/
}

#countdown span {
    font-weight: bold; /*boldens text in the span element*/
    font-size: 30px; /*changes the text size in the span element*/
}
</style>
<center>
    <div id="countdown-container">
        <div id="countdown">
            <span id="days">0d</span> : <span id="hours">0h</span> :
            <span id="minutes">0m</span> : <span id="seconds">0s</span>
        </div>
    </div>
</center>


<script>
    let days = {{Time.result}}; //starting number of days
let hours = 5; // starting number of hours
let minutes = 2; // starting number of minutes
let seconds = 5; // starting number of seconds

// converts all to seconds
let totalSeconds =
days * 60 * 60 * 24 + hours * 60 * 60 + minutes * 60 + seconds;

//temporary seconds holder
let tempSeconds = totalSeconds;

// calculates number of days, hours, minutes and seconds from a given number of seconds
const convert = (value, inSeconds) => {
if (value > inSeconds) {
    let x = value % inSeconds;
    tempSeconds = x;
    return (value - x) / inSeconds;
} else {
    return 0;
}
};

//sets seconds
const setSeconds = (s) => {
document.querySelector("#seconds").textContent = s + "s";
};

//sets minutes
const setMinutes = (m) => {
document.querySelector("#minutes").textContent = m + "m";
};

//sets hours
const setHours = (h) => {
document.querySelector("#hours").textContent = h + "h";
};

//sets Days
const setDays = (d) => {
document.querySelector("#days").textContent = d + "d";
};

// Update the count down every 1 second
var x = setInterval(() => {
//clears countdown when all seconds are counted
if (totalSeconds <= 0) {
    clearInterval(x);
}
setDays(convert(tempSeconds, 24 * 60 * 60));
setHours(convert(tempSeconds, 60 * 60));
setMinutes(convert(tempSeconds, 60));
setSeconds(tempSeconds == 60 ? 59 : tempSeconds);
totalSeconds--;
tempSeconds = totalSeconds;
}, 1000);
</script>
            <!-- service-type-second-section -->
            <section class="prt-row service-type04-second-section bg-base-grey clearfix">
            	<div class="container">
            		<div class="row">
            			<div class="col-lg-2">

            			</div>
            			<div class="col-lg-4">
            				<div class="prt-pricing-plan pricing-recommended-plan pricing-recommended-plan_2">
                                <div class="prt-p_table-head">
                                	<div class="prt-p_table-head-icon">
                                		<div class="prt-icon prt-icon_element-onlytxt">
                                			<i class="flaticon-process"></i>
                                		</div>
                                	</div>
                                	<div class="prt-p_table-head-info">
	                                    <div class="prt-p_table-title"><h3>Raffle Tickets</h3></div>
	                                    <div class="prt-p_table-desc">Best Plan for Individuals</div>
	                                </div>
                                </div>
                                <div class="prt-p_table-body">
                                    <ul class="prt-p_table-features">
                                        <li>First Trophy Winner in World</li>
                                        <li>Started Journey in New York</li>
                                        <li>The United States</li>
                                        <li>This is a list of selected</li>
                                        <li>For the last 25 years</li>
                                    </ul>
                                </div>
                                <div class="prt-p_table-footer" style="text-align: center;">
                                    <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-fill prt-btn-color-skincolor" href="{% url 'lottery_add' %}">Buy Student Lottery Raffle</a>
                                </div>
                            </div>
            			</div>
            				<div class="col-lg-4">
            				<div class="prt-pricing-plan pricing-recommended-plan pricing-recommended-plan_2">
                                <div class="prt-p_table-head">
                                	<div class="prt-p_table-head-icon">
                                		<div class="prt-icon prt-icon_element-onlytxt">
                                			<i class="flaticon-process"></i>
                                		</div>
                                	</div>
                                	<div class="prt-p_table-head-info">
	                                    <div class="prt-p_table-title"><h3>Raffle Tickets</h3></div>
	                                    <div class="prt-p_table-desc">Best Plan for Individuals</div>
	                                </div>
                                </div>
                                <div class="prt-p_table-body">
                                    <ul class="prt-p_table-features">
                                        <li>First Trophy Winner in World</li>
                                        <li>Started Journey in New York</li>
                                        <li>The United States</li>
                                        <li>This is a list of selected</li>
                                        <li>For the last 25 years</li>
                                    </ul>
                                </div>
                                <div class="prt-p_table-footer" style="text-align: center;">
                                    <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-fill prt-btn-color-skincolor" href="{% url 'lottery_add' %}">Buy Work Lottery Raffle</a>
                                </div>
                            </div>
            			</div>
            		<div class="col-lg-2">

            			</div>
            		</div>
            	</div>
            </section>
            <!-- service-type-second-section-end -->

            <!--service-type-third-section-->

            <!--services-section end-->

        </div><!-- site-main end-->

        <!-- footer start -->
        <footer class="footer widget-footer clearfix">
            <div class="second-footer prt-bgimage-yes bg-footer prt-bg bg-base-dark">
                <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 widget-area">
                            <div class="widget">
                                <div class="widgte-text">
                                    <div class="widget-title">
                                        <h3>Imagine A Better Future</h3>
                                    </div>
                                    <p>The Most Eminent Visas & Immigration Consultant service provider.</p>
                                </div>

                                <div class="widget_social">
                                    <div class="social-icons social-hover">
                                        <ul class="social-icons d-flex">
                                            <li>
                                                <a class="prt-social-instagram" href="https://www.instagram.com/theme_tech_mount/" aria-label="instagram"><i class="icon-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a class="prt-social-facebook" href="https://www.facebook.com/themetechMount18" rel="noopener" aria-label="facebook"><i class="icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="prt-social-twitter" href="https://twitter.com/themetechmount" rel="noopener" aria-label="twitter"><i class="icon-twitter"></i></a>
                                            </li>

                                            <li>
                                                <a class="prt-social-linkedin" href="https://www.linkedin.com/company/themetech-mount/" rel="noopener" aria-label="google"><i class="icon-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 widget-area">
                            <div class="widget">
                                <div class="enhanced-text-widget en-1">
                                    <div class="widget-title">
                                        <h3 >100+ Best Universities Scholarship Programs From 20 Countries</h3>
                                    </div>
                                    <p>We also help with other family based employment ased and investment based Immigration.<strong>(Validity From: 2022-01-11 12:00)</strong></p>
                                    <div class="prt-advertiser">
                                        <a href="australia.html"><img src="{%get_static_prefix%}Home/images/flag-1.png" alt="image"></a>
                                        <a href="united-kingdom.html"><img src="{%get_static_prefix%}Home/images/flag-2.png" alt="image"></a>
                                        <a href="russia.html"><img src="{%get_static_prefix%}Home/images/flag-3.png" alt="image"></a>
                                        <a href="france.html"><img src="{%get_static_prefix%}Home/images/flag-4.png" alt="image"></a>
                                    </div>
                                    <div class="">
                                        <a class="prt-btn prt-btn-size-md prt-btn-color-white btn-inline mt-30" href="about-us-2.html"> Apply Visa Now! </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 widget-area">
                            <div class="widget">
                                <div class="enhanced-text-widget">
                                    <div class="widget-title">
                                        <h3>Get In Touch</h3>
                                    </div>
                                    <div class="res-767-pb-18">

                                        <p>Email: <strong><a href="mailto:kingdomdynasty19@gmail.com">kingdomdynasty19@gmail.com</a></strong></p>
                                        <a class="prt-btn prt-btn-size-md fw-400 prt-btn-color-white btn-inline mt-25" href="about-us-2.html"> view all branches </a>
                                    </div>
                                </div>
                                <div class="widget-form">
                                    <div class="widget-title">
                                        <h3 class="widget-title">Sign up to Latest Updates</h3>
                                    </div>
                                    <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                        <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                            <p><input type="email" name="email" placeholder="Enter Your email address.." required=""></p>
                                            <button class="submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 widget-area">
                            <div class="visa-consultation">
                                <div class="section-title">
                                    <div class="featured-title">
                                        <h3>Canada</h3>
                                    </div>
                                    <div class="big-heading">
                                        <h3>immigrations</h3>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer-text prt-bg copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-left">
                                <span class="cpy-text"> Copyright © 2023 <a href="{% url "home" %}" class=" font-weight-500"> Sikobs </a>All rights reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- footer end -->

        <!-- back-to-top start -->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- back-to-top end -->

    </div><!-- page end -->

    <!-- Javascript -->
    <script src="{%get_static_prefix%}Home/js/jquery-3.6.0.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery-migrate-3.3.2.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/bootstrap.bundle.js"></script>
    <script src="{%get_static_prefix%}Home/js/aos.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery-validate.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery.prettyPhoto.js"></script>
    <script src="{%get_static_prefix%}Home/js/slick.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery-waypoints.js"></script>
    <script src="{%get_static_prefix%}Home/js/numinate.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/imagesloaded.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery-isotope.js"></script>
    <script src="{%get_static_prefix%}Home/js/jquery.twentytwenty.js"></script>
    <script src="{%get_static_prefix%}Home/js/circle-progress.min.js"></script>
    <script src="{%get_static_prefix%}Home/js/main.js"></script>

    <!-- Revolution Slider -->
    <script src='{%get_static_prefix%}Home/revolution/js/revolution.tools.min.js'></script>
    <script src='{%get_static_prefix%}Home/revolution/js/rs6.min.js'></script>
    <script src="{%get_static_prefix%}Home/revolution/js/slider.js"></script>
    <!-- Javascript end-->

</body>
</html>