<!doctype html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title></title>
		<link rel="icon" type="image/x-icon" href="{% get_static_prefix %}Extra/assets/img/favicon.png">
		
        <!-- Custom CSS -->
		
    </head>
	 <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/normalize.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/icomoon/icomoon.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/vendor.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/style.css">

		<!-- script
		================================================== -->
		<script src="{% get_static_prefix %}Home/js/modernizr.js"></script>
    <body>
        <link href="{% get_static_prefix %}Extra/assets/css/styles.css" rel="stylesheet">
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->

		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			


			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<section class="bg-cover" style="background:#016551 url({% get_static_prefix %}Extra/assets/img/bg2.png)no-repeat;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<h2 class="ipt-title text-light">Login To Your Account</h2>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Login Form Start ================================== -->
			<section class="gray-simple">
				<div class="container">
					<!-- row Start -->
					<div class="row justify-content-center">
					
						<!-- Single blog Grid -->
						<div class="col-xl-6 col-lg-8 col-md-12">
							<div class="vesh-detail-bloc">
								<div class="vesh-detail-bloc-body pt-3">
									<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
										
									</ul>
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab" tabindex="0">
											<div class="row gx-3 gy-4">
												<div class="modal-login-form">
													<form action="{% url 'login' %}" method="post">
													    {% csrf_token %}
														<div class="form-floating mb-4">
															<input type="email" class="form-control" name="Email" placeholder="name@example.com">
															<label>User Name</label>
														</div>
														
														<div class="form-floating mb-4">
															<input type="password" class="form-control" name="Password" placeholder="Password">
															<label>Password</label>
														</div>
														
														<div class="form-group">
															<button type="submit" class="btn btn-primary full-width font--bold btn-lg">Log In</button>
														</div>
														
														<div class="modal-flex-item mb-3">
															<div class="modal-flex-first">
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="checkbox" id="savepassword1" value="option1">
																	<label class="form-check-label" for="savepassword1">Save Password</label>
																</div>
															</div>
															<div class="modal-flex-last">
																<a href="JavaScript:Void(0);">Forget Password?</a>
															</div>
														</div>
													</form>
												</div>
												
											</div>
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<!-- /row -->					
				</div>	
			</section>
			<!-- ============================ Login Form End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			
			<!-- End Modal -->
			

			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% get_static_prefix %}Extra/assets/js/jquery.min.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/popper.min.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/bootstrap.min.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/rangeslider.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/jquery.nice-select.min.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/slick.js"></script>
		<script src="{% get_static_prefix %}Extra/assets/js/counterup.min.js"></script>
		
		 
		<script src="{% get_static_prefix %}Extra/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>