{% load static %}



        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">

            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">Sikobs</a> 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->




	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{%get_static_prefix%}Dash/vendor/global/global.min.js"></script>
	<script src="{%get_static_prefix%}Dash/vendor/chart-js/chart.bundle.min.js"></script>
	<script src="{%get_static_prefix%}Dash/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

	<!-- Apex Chart -->
	<script src="{%get_static_prefix%}Dash/vendor/apexchart/apexchart.js"></script>
	<script src="{%get_static_prefix%}Dash/vendor/nouislider/nouislider.min.js"></script>
	<script src="{%get_static_prefix%}Dash/vendor/wnumb/wNumb.js"></script>

	<!-- Dashboard 1 -->
	<script src="{%get_static_prefix%}Dash/js/dashboard/dashboard-1.js"></script>

      <script src="{%get_static_prefix%}Dash/js/custom.min.js"></script>
	<script src="{%get_static_prefix%}Dash/js/dlabnav-init.js"></script>
	<script src="{%get_static_prefix%}Dash/js/demo.js"></script>
   <script src="{%get_static_prefix%}Dash/js/styleSwitcher.js"></script>

</body>
</html>