<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kingdom Dynasty</title>

		<link rel="icon" sizes="192x192" href="{% get_static_prefix %}Pannel/img/touch-icon.png"/>
		<link rel="apple-touch-icon" href="{% get_static_prefix %}Pannel/img/touch-icon-iphone.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="{% get_static_prefix %}Pannel/img/touch-icon-ipad.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="{% get_static_prefix %}Pannel/img/touch-icon-iphone-retina.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="{% get_static_prefix %}Pannel/img/touch-icon-ipad-retina.png"/>

		<link rel="shortcut icon" type="image/x-icon" href="{% get_static_prefix %}Pannel/img/favicon.ico"/>

		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Pannel/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Pannel/css/main.min.css">

		<!-- Pixeden Icon Fonts -->
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Pannel/css/pe-icon-7-filled.css">
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Pannel/css/pe-icon-7-stroke.css">
	</head>
<body>
	<div id="loading">
		<div class="loader loader-light loader-large"></div>
	</div>




					<div>

					<div class="col-md-4  col-md-offset-4">
						<article class="widget widget__login">
							<header class="widget__header one-btn">
								<div class="widget__title" style="text-align: center;">
									<span>Congratulation! Your Payment Has Been Recieved Successfully.</span>
								</div>
								<div class="widget__config">
									<a href="{% url "client" %}" ><i class="pe-7s-home"></i></a>
								</div>
							</header>
                            <div style="text-align:center;padding-top:30px">
							<a  href="{% url "client" %}"  class="btn blue "><i class="pe-7s-home"></i> Go Home</a>
                               </div>




						</article><!-- /widget -->
					</div>
				</div>



				<script type="text/javascript" src="{% get_static_prefix %}Pannel/js/main.js"></script>
				<script type="text/javascript" src="{% get_static_prefix %}Pannel/js/amcharts/amcharts.js"></script>
				<script type="text/javascript" src="{% get_static_prefix %}Pannel/js/amcharts/serial.js"></script>
				<script type="text/javascript" src="{% get_static_prefix %}Pannel/js/amcharts/pie.js"></script>
				<script type="text/javascript" src="{% get_static_prefix %}Pannel/js/chart.js"></script>
</body>
</html>