<!DOCTYPE html>







{% load static %}
























<!-- =========================================================
* Materialize - Material Design HTML Admin Template | v1.0.0
==============================================================

* Product Page: https://1.envato.market/materialize_admin
* Created by: Pixinvent
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright Pixinvent (https://pixinvent.com)

=========================================================
 -->
<!-- beautify ignore:start -->


<html lang="en" class="dark-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="{% get_static_prefix %}Homeassets/" data-template="vertical-menu-template-dark">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Staff Review Page </title>


    <meta name="description" content="Materialize – is the most developer friendly &amp; highly customizable Admin Dashboard Template." />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://1.envato.market/materialize_admin">


    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5J3LMKC');</script>
    <!-- End Google Tag Manager -->

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% get_static_prefix %}Home/assets/img/favicon/favicon.ico" />
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/fonts/materialdesignicons-1.css">
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/fonts/flag-icons-1.css">

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/libs/node-waves/node-waves-1.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/css/rtl/core-dark-1.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/css/rtl/theme-default-dark-1.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/css/demo-1.css">

    <!-- Vendors CSS -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/fonts/materialdesignicons.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/fonts/flag-icons.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/css/rtl/core-dark.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/css/rtl/theme-default-dark.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">

    <!-- Page CSS -->
    <!-- Page -->
<link rel="stylesheet" href="{% get_static_prefix %}Home/assets/vendor/css/pages/page-misc.css">

    <!-- Helpers -->
    <script src="{% get_static_prefix %}Home/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% get_static_prefix %}Home/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% get_static_prefix %}Home/assets/js/config.js"></script>

</head>

<body>


<!-- Error -->
<div class="content-wrapper">

  <div class="container-xxl flex-grow-1 container-p-y">



    <h4  class="py-3 mb-4" style="text-align:center"><span class="text-muted fw-light">Find Your Booked</span> Meeting <span class="text-muted fw-light">With Us😉</span></h4>

    <div class="app-academy">
      <div class="card p-0 mb-4">
        <div class="card-body d-flex flex-column flex-md-row justify-content-between p-0 pt-4">
          <div class="app-academy-md-25 card-body py-0">
            <img src="{% get_static_prefix %}Home/assets/img/illustrations/bulb-dark-1.png" style="visibility:hidden" class="img-fluid app-academy-img-height scaleX-n1-rtl" alt="Bulb in hand" data-app-light-img="illustrations/bulb-light.png" data-app-dark-img="illustrations/bulb-dark.png" height="90">
          </div>
          <div class="app-academy-md-50 card-body d-flex align-items-md-center flex-column text-md-center mb-4">
            <span class="card-title mb-3 lh-lg px-md-5 display-6 text-heading">
              Welcom to
              <span class="text-primary text-nowrap">Sikobs Agency</span>.
            </span>
            <p class="mb-3 px-2">
              Please leave a review of you experience here so we can make our services better for you and others. You may be contacted incase we need more insight to your review.
            </p>
            <form action="{% url 'booking_confirm_find' %}" method="post" class="d-flex align-items-center justify-content-between app-academy-md-80">
              {% csrf_token %}
              <input type="number" required name="Key" placeholder="Find a booking.." class="form-control me-2">
              <button type="submit" class="btn btn-primary btn-icon"><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
          <div class="app-academy-md-25 d-flex align-items-end justify-content-end">
            <img src="{% get_static_prefix %}Home/assets/img/illustrations/pencil-rocket-1.png" alt="pencil rocket" height="188" class="scaleX-n1-rtl">
          </div>
        </div>
      </div>

      <div class="card mb-4">

        <div class="card-body">
          <div class="row gy-4 mb-4">


            {% for i in Booking %}
            <div d='{{i.id}}' class="col-sm-6 col-lg-3">
              <div class="card p-2 h-100 shadow-none border">
                <div class="rounded-2 text-center mb-3">
                  <a data-bs-toggle="modal" onclick="set({{i.id}},'{{i.Name}}')" data-bs-target="#referAndEarn"><img class="img-fluid" src="{% get_media_prefix %}Booking/{{i.id}}.jpg?{{Rand}}" style="object-fit: cover; width: 400px;height: 400px;"   alt="tutor image 1"></a>
                </div>
                <div class="card-body p-3 pt-2">



                  <a data-bs-toggle="modal" onclick="set({{i.id}},'{{i.Name}}')" data-bs-target="#referAndEarn" class="h5">{{i.Name}}</a>
                  <p></p>

                              <p><i class="mdi mdi-map-marker-radius"></i> Gender: {{i.Gender}}</p>
                              <p><i class="mdi mdi-account-outline"></i>Contact: {{i.Contact}}</p>
                              <p><i class="mdi mdi-account-group"></i> Location: {{i.Location}}</p>



                  <div class="d-flex flex-column flex-md-row gap-3 text-nowrap flex-wrap flex-md-nowrap  flex-lg-wrap flex-xxl-nowrap">
                   {% if i.Status == "Clocked In" %}
                    <a class="w-100 btn btn-outline-warning d-flex align-items-center" data-bs-toggle="modal" onclick="set({{i.id}},'{{i.Name}}','Clock Out')" data-bs-target="#referAndEarn">
                      <span>Clock Out <i class="mdi  mdi-star-circle lh-1 scaleX-n1-rtl"></i></span>
                    </a>
                   {% elif i.Status == "Clocked Out" %}
                   <a class="w-100 btn btn-outline-success d-flex align-items-center" >
                    <span>Meeting Completed<i class="mdi  mdi-star-circle lh-1 scaleX-n1-rtl"></i></span>
                  </a>
                   {% else %}
                   <a class="w-100 btn btn-outline-success d-flex align-items-center" data-bs-toggle="modal" onclick="set({{i.id}},'{{i.Name}}','Clock In')" data-bs-target="#referAndEarn">
                    <span>Clock In <i class="mdi  mdi-star-circle lh-1 scaleX-n1-rtl"></i></span>
                  </a>
                   {% endif %}

                  </div>
                </div>
              </div>
            </div>
           {% endfor %}






          </div>

        </div>
      </div>



    </div>


</div>


<!-- All Modals -->
<!-- Pricing Modal -->


<!-- Add New Credit Card Modal -->

<!-- Refer & Earn Modal -->
<div class="modal fade" id="referAndEarn" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-simple modal-refer-and-earn">
<div class="modal-content p-3 p-md-5">
  <form class="modal-body pt-3 pt-md-0 px-0 pb-md-0" method="post" action="{% url 'booking_confirm'  %}">
    {% csrf_token %}
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="text-center mb-4">
      <h3 class="mb-2">Meeting Styatus</h3>
      <p class="text-center w-75 m-auto mt-1">
        Clock In when you arrive and don't forget to clock out when you are leaving. Thank You.
      </p>
    </div>
    <div class="rounded-2 text-center mb-3">
      <a data-bs-toggle="modal" data-bs-target="#referAndEarn"><img class="img-fluid" src="{% get_media_prefix %}Booking/2.jpg?{{Rand}}" id="img_1" style="object-fit: cover; width: 200px;height: 200px;border-radius:10px"   alt="tutor image 1"></a>
    </div>
    <div class="row py-2">
      <a data-bs-toggle="modal" data-bs-target="#referAndEarn" class="h5" style="text-align:center" id="name_1">Aminu Bob Bay</a>

    </div>
    <input type="hidden" id="staff_1" name="id">
    <hr class="my-4 mx-n3 mx-md-n5" />

      <div style="text-align:center">
      <button type="submit" class="btn rounded-pill btn-label-warning waves-effect" id="btn1" >Confirm Booking</button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
<!--/ Refer & Earn Modal -->

  <!--/ Property Listing Wizard -->
</div>
</div>
</div>
<!--/ Create App Modal -->

<!-- Two Factor Auth Modal -->


      </div>
      <!-- / Content -->
</div>
<!-- /Error -->

<!-- / Content -->


  <script>
    function set(id,name,c){
     document.getElementById("name_1").innerHTML=name
     document.getElementById("btn1").innerHTML=c

     document.getElementById("img_1").src="{% get_media_prefix %}Booking/"+id+".jpg?"+new Date()
     document.getElementById("staff_1").value=id

    }
  </script>

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/popper/popper.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/js/bootstrap.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="{% get_static_prefix %}Home/assets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->



  <!-- Main JS -->
  <script src="{% get_static_prefix %}New/assets/js/main.js"></script>


  <!-- Page JS -->



</body>

</html>

<!-- beautify ignore:end -->

