{% load static %}


{% include "New/Extra/header.html" %}
      <!-- Content wrapper -->
      <div class="content-wrapper" style="padding-top: 50px;">

        <div class="container-xxl flex-grow-1 container-p-y">


          <h4 class="mb-1">Files Uploaded  (<span style="color:red">{{Client.Full_Name}}</span>)</h4>
          <p class="mb-4">Here are all files upload in your company, click manage to view all files.</p>
          <!-- Role cards -->
          <div class="row g-4">




            <div class="col-xl-4 col-lg-6 col-md-6">
              <div class="card h-100">
                <div class="row h-100">
                  <div class="col-5">

                  </div>
                  <div class="col-7">
                    <div class="card-body text-sm-end text-center ps-sm-0">
                      <a href="{% url 'manage_files' Client.id %}" data-bs-target="#addRoleModal"  class="btn btn-primary mb-3 text-nowrap ">Create</a>
                      <p class="mb-0">Add files, if it does not exist</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            {% for i in Schedule %}
            <div class="col-xl-4 col-lg-6 col-md-6" id="{{i.id}}">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between mb-2">
                    <p>🔁Time : {{i.time}}    🗓️Dated : {{i.date}}</p>
                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">



                    </ul>
                  </div>
                  <div class=" justify-content-between align-items-end">
                    <div class="role-heading">
                      <h6 class="mb-1 text-body">{{i.Name}}</h6>

                      Files Uploaded : {{i.Count}}<br>
                    </div>
                    <br>
                    <a href="{% url 'view_uploaded_files' i.id %}"   class="btn btn-primary waves-effect waves-light">
                      <i class="mdi mdi-content-copy mdi-20px"></i>  View Files
                    </a>

                    <button type="button" onclick="setup('{{i.id}}')" data-bs-toggle="modal" style="font-size: 30px;" data-bs-target="#deleteModal" class="btn text-danger ">
                      <i class="tf-icons mdi mdi-delete-empty"></i>
                    </button>


                  </div>
                </div>
              </div>
            </div>
            {% endfor %}







          </div>
          <!--/ Role cards -->

          <!-- Add Role Modal -->
          <!-- Add Role Modal -->
          <div class="modal fade contentmodal" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content doctor-profile">
                    <div class="modal-header pb-0 border-bottom-0  justify-content-end">
                        <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="delete-wrap text-center">
                            <div class="del-icon"><i class="feather-x-circle"></i></div>
                            <h4>Type "DELETE" in below to delete this.</h4>
                            <div class="submit-section">
                                <input id="pass2" class="form-control" type="text" id="test" style="text-align: center;">

                            </div>
                            <div style="padding-top: 20px;" class="submit-section">
                                <button onclick="Delete()"  class="btn btn-danger me-2" id="si_button">Delete This</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <input type="hidden" value="" id='hold_id'>
      </div>
          <!-- / Content -->


          <script>

              function getCookie(name) {
                  let cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      const cookies = document.cookie.split(';');
                      for (let i = 0; i < cookies.length; i++) {
                          const cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
                  }

                  const csrftoken = getCookie('csrftoken');
                  console.log(csrftoken)
          function setup(id){
            document.getElementById('hold_id').value=id
          }
          function Delete(){
            var state = document.getElementById("hold_id")
          data = JSON.stringify({
          id:state.value,
          })
          fetch("{% url 'list_uploaded_files' Client.id %}", {
          method: 'DELETE',
          body: data,
          headers: { 'X-CSRFToken': csrftoken,'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json',
              },
          })
          .then(response => response.json())
          .then(data => {
          if (data === 'Ok'){
              document.getElementById(state.value).remove()
              state.value=""
              document.getElementById("pass2").value=""
              alert("Files has been deleted successfully!")
          Close()
          }else{
              alert("Please an error occured when deleting schedulr!")

          }
          });}

          setInterval(load_all,1000);
          function load_all(){


              var pass2 = document.getElementById("pass2").value
          if (pass2==="DELETE"){

           document.getElementById("si_button").disabled = false;
          }else{
           document.getElementById("si_button").disabled = true;
          }
          }


          </script>


{% include "New/Extra/footer.html" %}